/* AdminBoard.module.css */

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--primary-color);
  padding: 16px 24px;
  border-radius: 6px;
  margin-bottom: 20px;
  color: #fff;
}

.headerTitle {
  font-size: 24px;
  font-weight: bold;
  margin: 0;
}

.custom_table {
  background: #fff;
  border-radius: 8px;
  padding: 16px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.4);
}

.custom_table :global(.ant-table-thead > tr > th) {
  background-color: var(--accent-color); /* or any color like #f0f2f5 */
  color: white; /* or any contrasting text color */
  font-weight: 600;
}
.floatingDeleteButton {
  position: fixed;
  bottom: 24px;
  right: 24px;
  z-index: 1000;
  background-color: #ff4d4f;
  color: white;
  border: none;
  border-radius: 50%;
  padding: 16px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  cursor: pointer;
  transition: all 0.3s ease;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  animation: slideInFade 0.4s ease;
}

.floatingDeleteButton:hover {
  background-color: #d9363e;
  transform: scale(1.05);
}

@keyframes slideInFade {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
